/* Coolors Exported Palette - coolors.co/da2c38-226f54-87c38f-f4f0bb-43291f */

/* RGB */
$red: rgba(218, 44, 56, 1);
$darkGreen: rgba(34, 111, 84, 1);
$lightGreen: rgba(135, 195, 143, 1);
$yellow: rgba(244, 240, 187, 1);
$brown: rgba(67, 41, 31, 1);
//Fonts
$ubuntu: 'Ubuntu', sans-serif;
$openSans: 'Open Sans', sans-serif;
$fontSize: 16px;
$lineHeight: 1.6;
$default-border-radius: 20px;